.cabecalho {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    margin-top: -3px;
    margin-bottom: 22px;
}

.cabecalho #logo {
    border: none;
    width: auto;
    height: auto;
    margin-bottom: -38px;
}

.cabecalho .profitable {
    border: none;
    width: auto;
    height: auto;
    margin-bottom: -30px;
}

.cabecalho #btPro {
    padding-top: 6px;
    padding-bottom: 6px;
    width: auto;
    height: auto;
    font-size: medium;
    background-color: #6280E9;
    color: #FFFFFF;
    border: none; 
    border-radius: 8px;
    font-weight: bolder;
}



